<!--<h1>{{title}}</h1>-->
<!--<app-profile></app-profile>-->
<!--<app-heart></app-heart>-->
<!-- <app-add-details></app-add-details> -->
<!-- <app-property></app-property> -->
<!-- <app-all></app-all> -->
<!-- <app-user></app-user> -->
<!-- <app-search></app-search> -->
<app-navigation></app-navigation>
<router-outlet></router-outlet>

<!-- <app-dd> ssceee
    <h2 class="head">THIS IS HEAD<span class="caret"></span> </h2>
    <h2 class="body">THIS IS BODY <span class="dropup">
                                 <span class="caret"></span>
                         </span></h2>
</app-dd>
<div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="dropup">
        <span class="caret"></span>
    </span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div> -->
     
    

